<a href="https://colab.research.google.com/github/vijay-93/Medical-Insurance-Payout-Data/blob/main/Medical_Insurance_Payout_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Medical Insurance Payout

About Dataset

ACME Insurance Inc. offers affordable health insurance to thousands of customer all over the United States. You're tasked with creating an automated system to estimate the annual medical expenditure for new customers, using information such as their age, sex, BMI, children, smoking habits and region of residence.

Estimates from your system will be used to determine the annual insurance premium (amount paid every month) offered to the customer.

In [2]:
#Step-1- We are Importing Useful Libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
#Step-2 Upload Data
df=pd.read_csv('expenses.csv')

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
# Check NaN/Null
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
df.shape

(1338, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
#Converting String/Object data to Int

lbl=preprocessing.LabelEncoder()
clms=["sex", "smoker", "region"]
for x in clms:
    df[x]=lbl.fit_transform(df[x])

In [9]:
df.head() #check data

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [10]:
#Defining Data for Train & Test
x=df.drop("charges", axis="columns")
y=df["charges"]

In [11]:
#Train_Test_Split Data
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [12]:
#Linear Model
model=LinearRegression()

In [13]:
#Train MOdel
model.fit(xtrain,ytrain)

LinearRegression()

In [14]:
LinearRegression()

LinearRegression()

In [15]:
#Score
model.score(xtest,ytest)

0.7712524377226581

In [16]:
#Predict
model.predict(xtest)

array([ 6763.92252644,  7633.0065468 ,  2844.67189565, 12433.46983759,
        6742.76394529, 13758.11468459,  6129.49697447,  6920.1574116 ,
         419.58316896, 14115.34120141,  5074.01343182,  2905.37852801,
       29331.1374091 , 13991.67490285,  8542.41286701,  8224.35668685,
       11375.59561545, 31033.59088121,  6298.99546908,  5737.7248335 ,
       28180.03795766, 12857.9088488 , 15166.16442099, 15953.57156058,
        4036.74085429,  7647.05174951,  9104.05848838,  9967.60456324,
       12928.18844768, 12205.03028256, 25837.59003182, 11747.87664512,
        6656.48575036,  9752.67368186, 12700.56677312, 29878.15971899,
       13667.69546095,  9892.27322935, 12458.00215895,  7453.09032426,
        3439.60827512,  5655.65516165,  9289.30412194,  5520.61770495,
        7384.4185372 , 11175.73088098, 10321.07683651,  2143.28481133,
        8195.22854591, 13433.79246543, 11263.19753708, 12493.32804102,
        9698.89364468, 38203.54219402,  6514.37899408,  3944.05033152,
       15309.91465099, 27382.09762314,  8109.62098839, 12252.70787979,
       12201.22257181,   407.15635438, 34873.52367277,  7274.02076453,
       11590.41162761, 38631.08622948, 11737.02293466,  8170.64090731,
        3672.2091086 ,  4852.64409885,  5513.90276536,  3038.37077616,
        1413.05590524, 38374.0040623 , 31075.26793494,  8688.7830474 ,
       28262.84344704,  5423.10493976,  3561.17098149, 37972.90059282,
       26460.30757374, 35011.05885144, 10462.2152676 ,  7105.25808747,
        3659.98474037, 36697.55215859,  6464.69511446,  8939.47489506,
       12390.85451996, 17325.82643156, 10435.46809764, 11591.94635198,
       39198.55527947,   -44.47458779,  5247.3741863 , 26824.93814949,
       32593.64585879,  2380.6299322 , 31128.87300449,  8980.87763975,
        4367.95379257, 14229.04119596,  5978.07459906, -1274.83996326,
       26732.51660818,  9565.92004544,  6756.76828872, 18832.17204668,
       34286.25188499, 10709.68801407, 23923.3784975 , 11757.51612712,
        2500.64628013, 11870.18935815, 30532.5424019 ,  9339.47864885,
        5501.14295754,  4566.01425062, 11408.18844403, 39683.51842923,
        1769.73918292,  8243.42439937,  5894.93171135,   806.02179104,
       13558.4031991 , 13507.29897261, 13538.92845169, 11746.18701624,
        2963.2552888 , 30271.57318644, 13429.41702769,  7814.84612556,
        7203.71920113, 10349.39259492,  8528.35652195, 25686.2783664 ,
        5810.76953497, 15970.10567508,  7508.98944973, 32014.70559584,
       11369.78227142,  5414.94818051, 33795.75155029, 28055.40058889,
       31383.00290468,  8269.57461713, 13384.56984846,  9242.75114444,
        7145.08104547, 14843.30128035,  8538.38482576,  5856.37664351,
        6961.10813461,  5030.30935088,  7393.48218789, 11453.6589647 ,
       11321.60889382, 39004.70586783,  -304.20951166,  9004.36115757,
       13050.84578802,  3062.9999156 ,  8480.52587026,  8749.67633281,
        6317.44345298, 12242.60082866,  1780.98538725, 38851.46361722,
       11692.69933924, 14939.94088291, 15966.30179883,  6247.50709135,
       14377.62622496, 30054.30473632,  7215.46080976, 10839.69322829,
       29126.11852847, 11232.29770433,  6211.56333071, 40305.58033476,
       24472.78983134, 30723.01772143,  8098.79567914, 11583.77097554,
        7173.07666442, 14777.84418939,  1510.78652895, 27891.75300162,
       11561.5978627 , 25929.58119123, 25108.54257961,  6468.70396039,
       17089.04319874,  7200.39379505,  9170.88843572, 16147.94926168,
       12257.7612945 , 36440.22512173,   316.85506971,  2009.07914663,
       12096.38840838, 12253.91713711, -1279.75616816, 14001.63373203,
       10901.77459879,  3337.91525785, 14239.3137279 , 35982.58301596,
       11132.64182301,  7962.48756308,  3562.89488224,  8420.67598529,
       27425.31263798, 32426.62072853, 11047.86799061, 29083.98504795,
       12237.4422774 , 15139.04280829, 10892.93796116,  9807.97253952,
       15805.04331438, 14256.12967762, 26048.33875972, 36751.06095648,
        4546.51539145,  7703.07755984,  2076.43205585, 10299.65369862,
        5422.7900173 , 29310.66177607,  7648.47437385,  9771.64291622,
       27635.46889765,  6004.39692885, 14532.479143  ,  2907.01699889,
        7453.24131539, 31531.00201779, 34527.28152893, 12467.17094618,
        2473.12942854,  3647.87091513, 10316.88826596,  5671.69294936,
       10232.87104726,  8193.44601231, 11643.01189816,  2872.57675715,
        8694.16021439,  4080.89505552, 14447.4089857 , 26202.57165194,
       33128.61142344, 11793.8687727 ,  3614.52954545, 24561.94948327,
        4290.92804863, 35139.34317996,  1032.65731552,  6206.58164847,
       11276.41377167,  7204.4883714 , 32541.19472933, 25140.20902423,
        9840.64604097,  5665.63002999, 35922.64025045, 17894.57114377,
        2598.49845562,   724.05535435, 13973.40941277, 12794.9786733 ,
       30557.6872229 ,  5739.87151109,  8994.74426202, 10754.86818654,
       12175.54302464, 40022.53960572,  6963.79117428,  9224.96333224,
        9395.84987876, 35117.46525119,  5092.65029488, 16060.47844636,
       10217.70617633,  6453.53656612,  7167.98212494, 10474.82563377,
       10064.08279287, 10515.39133774, 12942.96946794,  2629.87895712,
       35014.85623174, 13686.23273674,  4501.96448576, 13809.98299962,
       11680.35127197,  6218.85545994, 32514.69069801,  2411.25050439,
       13177.08213879,  9122.0535828 , 10471.98567761,  6998.61249751,
        9311.08137394,  3636.28646885,  7877.55260361,  9937.49115963,
       29400.52351674, 10402.36399259, 13062.20854882,  2042.78025522,
       14980.42531625, 12320.69978847, 32898.43489221,  6882.81135523,
        8089.85306889,  1160.55031852, 11522.07093239,  7250.28797193,
       13961.41075396,  5749.97024376,  8264.43803038, 11437.60832322,
        4956.03813322,  6416.91708634, 31387.04203359,  4501.32157293,
       27827.05284909, 12621.41215686, 11059.97320018,  2485.30642193,
       33721.85064785,  4174.55118562, 31189.15458253,  4420.90401801,
        5917.53676312,  3772.56006383,  5572.69191215, 35329.70477444,
        8503.69177194,  3043.707662  , 12365.37695159, 13470.22306605,
        1603.71738609, 13926.84064197,  2265.02169305,  7956.76682656,
        3724.4235165 ,  6729.88817876,  9270.08751419, 10613.64492334,
         589.11471573, 11850.94630193, 38272.74751927, 14409.29266957,
        4858.01740717, 11510.64139061,  4042.47830661,  9665.39367881,
        4020.18426393, 10874.40601295,  3803.86130668,  7915.83251879,
       32722.26875399, 11190.0429179 , 16494.59080364,  4056.02894865,
        2489.54250261, 27175.4689187 , 13260.11632848,  3186.64504193,
        9826.48167959,  2605.9975665 , 11260.97815317, 26788.52124627,
        5583.28104625,  5188.4998555 , 26672.14568689, 10265.39070197,
       35871.87874987, 13044.56425292,  5409.7821544 , 25600.66211435,
        5743.88174706,  9044.15076285,  4444.29965814,  9178.96729129,
        8295.75318477, 14443.38233449,  7450.17325669, 26743.73416544,
        8719.88784982, 33882.31022547,  1908.59538667,   588.07963376,
        7482.84675815, 11775.59912338,  6348.07364726, 11830.57392822,
        5993.30625096,  9866.68193593])

In [17]:
#More Insights about Data
max(df["age"])   #Maximum Age, who Enrolled for Medical Insurance
min(df["age"])   #Minimum Age, who Enrolled for Medical Insurance
df["age"].value_counts() #Number of Person Age wise, Enrolled for Medical Insurance
df["sex"].value_counts() #Number of Person Gender wise, Enrolled for Medical Insurance
df["smoker"].value_counts() #Number of Person Smoke Category wise, Enrolled for Medical Insurance
df["children"].value_counts() #Number of Person Region wise, Enrolled for Medical Insurance

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64